
*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}
.container {
    max-width: 1200px;
    margin: auto
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
    font-size: 16px;
    line-height: 24px;
}
.input-address{
    width: 690px;
    background-image: url(../img/home.svg);
}
.input-search {
    width: 300px;
    background-image: url(../img/search.svg);
}
.buttons {
    display:flex;
    align-items: center;

}
.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
        border: 1px solid var(--gray-gray-5, #D9D9D9);
        background: var(--gray-gray-1, #FFF);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.button-primary {
    background-color: #1890FF;
    border: 1px solid #1890FF;
    color: #fff;
    margin-right: 10px;
}
.button-icon {
    margin-right: 6px;

}
.button-text {
}
.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #fff1b8 url(../img/background.png) no-repeat top right;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
}
.promo-text {
    margin: 0px;
    max-width: 540px;
    color: #302C34;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.promo-title {
    margin: 15px 0;
}
.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}
.section-title {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.card {
    border-radius: 7px;
    background: var(--gray-gray-1, #FFF);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 30px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}
.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}
.card-tag {
    color: var(--gray-gray-1, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    border-radius: 2px;
    background: var(--gray-gray-9, #262626);
    padding: 1px 8px;
}
.card-info {
    display: flex;
    align-items: center;
}
.rating {
    margin-right: 26px;
    color: #FFC107;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 177.778% */
}
.price,
.category {
    color: var(--gray-gray-7, #8C8C8C);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
}
.price {
    margin-right: 10px;
}
.price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}